<a href="/logout" id="signOutBtn">Sign Out</a>
<ol>
    {{#each allDataRows}}
    <li id="lines-signers-page">
        {{#if homepage}}
        <a href="{{homepage}}" target="_blank" id="links-signers-page"> {{ first}} {{last}}</a> {{age}}
        {{else}}
        {{ first}} {{last}} {{age}}
        {{/if}}

        {{#if city}}
        <a href="/signers/{{city}}" id="cities-signers-page">{{city}}</a> 
        {{else}}
        {{city}}
        {{/if}}
    </li>
    {{/each}}
</ol>


