<a href="/logout" id="signOutBtn"><img src="/signout.png" alt="signout"></a>
<h3><em>Edit your info:</em></h3><br>
{{#if showError}}
<p id="error">FILL THE DATA!</p>
{{/if}}
{{#if reenterPwd}}
<p id="error">To continue and save changes, please your password!</p>
{{/if}}
<form action="/edit" method="POST" id="form-user-profile-page">
    <input type="text" name="firstNameValues" placeholder="First Name" value="{{fn}}">
    <input type="text" name="secondNameValues" placeholder="Second Name" value="{{ln}}">
    <input type="text" name="emailValue" placeholder="Email" value="{{em}}">
    <input type="password" name="passwordValue" placeholder="Password" id="password" value="">
    <input type="text" name="ageValue" placeholder="Age" value="{{ag}}">
    <input type="text" name="cityValue" placeholder="City" value="{{ct}}">
    <input type="text" name="homepageValue" placeholder="Your website" value="{{hp}}">
    <button type="submit" href="/thanks"><b> Submit</b></button>
</form>
<img src="/field.jpeg" id="backgroundimage" alt="field">

{{!-- Navigation --}}
<script defer src="/app.js"></script>
<div id="backdrop"></div>
<div id="navigation-thanks">
    <ul class="nav-links">
        <li>
            <a href="/redraw" id="delete-thanks-page">Delete your signature</a>
        </li>
        <li>
            <a href="/thanks" id="edit-thanks-page">Go to the thanks page</a>
        </li>
        <li>
            <a href="/deletion" id="deletionBtn">Delete the account</a>
        </li>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>