<a href="/logout" id="signOutBtn">Sign Out</a>
<h3><em>Edit your info:</em></h3><br>
{{#if showError}}
<p id="error">FILL THE DATA!</p>
{{/if}}
<form action="/edit" method="POST" id="form-user-profile-page">
    <input type="text" name="firstNameValues" placeholder="First Name" value="{{fn}}">
    <input type="text" name="secondNameValues" placeholder="Second Name" value="{{ln}}">
    <input type="text" name="emailValue" placeholder="Email" value="{{em}}">
    <input type="password" name="passwordValue" placeholder="Password" id="password" value="">
    <input type="text" name="ageValue" placeholder="Age" value="{{ag}}">
    <input type="text" name="cityValue" placeholder="City" value="{{ct}}">
    <input type="text" name="homepageValue" placeholder="Your website" value="{{hp}}">
    <button type="submit" href="/thanks"><b> Submit</b></button>
</form>