<ol>
    {{#each allDataRows}}
        {{#if linkProvided}}
        <li><a href="{{homepage}}" target="_blank">{{ first}} {{last}}</a> {{age}}</li>
        {{#else}}
        <li>{{ first}} {{last}} {{age}}</li>
        {{/if}}

        {{#if cityProvided}}
        <li><a href="/{{url}}">{{city}}</a> </li>
        {{#else}}
        <li>{{city}}</li>
        {{/if}}
    {{/each}}
</ol>

{{!-- insert link in handlebars file for the name if the person has a homepage
insert link in handlebars file for the city if the person has provided a city --}}

